
services:
  # --- 1. Servicio de Base de Datos (PostgreSQL) ---
  db:
    image: postgres:14-alpine
    container_name: votacion-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=votacion_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - votacion-net

  # --- 2. Servicio de Backend (Nuestra API Java) ---
  api-servicio:
    container_name: votacion-api
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=votacion_db
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db 
    networks:
      - votacion-net
      
  # --- 3. Servicio de Frontend (Nuestra UI Vue/Nginx) --- (NUEVO)
  ui-servicio:
    container_name: votacion-ui
    # Le decimos que construya usando el Dockerfile en la carpeta './frontend'
    build: ./frontend
    ports:
      # Exponemos el puerto 80 de Nginx al puerto 3000 de nuestra máquina
      # (Usamos 3000 para no chocar con 8080 del backend)
      - "3000:80"
    networks:
      - votacion-net
    # El frontend depende de que la API esté lista (opcional pero buena práctica)
    depends_on:
      - api-servicio

# --- Definición de Redes y Volúmenes ---
networks:
  votacion-net:
    driver: bridge

volumes:
  postgres-data: